@import 'reset.sass'
@import 'frameless.sass'


//Colors

$lt_green: #A9CF54
$drk_green: #588F27

//General

.wrapper
  width: $cols16
  margin: 0 auto
  position: relative

//Header

//Front Page

//Content

//Sidebar

//Footer

//Break Points