@import 'reset.sass'
@import 'frameless.sass'
@import 'flexslider.sass'
@import 'fonts/stylesheet.sass'


//Colors

$white: #fff
$yellow: #E1E6B9
$lt_green: #A9CF54
$ltmd_green: #8BB745
$md_green: #588F27
$drk_green: #003300
$blktnt: rgba(0,0,0,.5)

//General

html
  overflow-x: hidden
body
  background: $md_green
  @include open_sansregular
a
  text-decoration: none
  transition: all .3s linear
h1,h2,h3,h4,h5,h6
  font-weight: normal
.wrapper
  width: $cols16
  margin: 0 auto
  position: relative

//UI Elements

.button
  background: $lt_green
  color: $white
  padding: 10px $gutter
  border: 2px solid $md_green
  color: $white

//Header

.masthead
  background: $lt_green
  border-bottom: 10px solid $md_green
  nav
    ul
      text-align: right
      li
        display: inline-block
        vertical-align: top
        a
          padding: $gutter*2 $gutter $gutter
          display: block
          color: $white
          text-transform: uppercase
          font-size: 18px
          &:hover
            background: $ltmd_green
            color: $yellow

//Front Page

.featured-content
  .flexslider
    background: none
    box-shadow: none
    border: none
    .flex-direction-nav
      a
        width: 100px
        height: 100px
      .flex-next
        background: url(images/arrow_right.png) center center
        right: 0
      .flex-prev
        background: url(images/arrow_left.png) center center
        left: 0

//Content

//Sidebar

//Footer

.colophon
  background: url(images/mountains_trees.png) center bottom no-repeat, url(images/mountains_hills.png) left bottom  repeat-x $lt_green
  color: $white
  .wrapper
    padding: $gutter*2 0 
    h3,.flexslider, .social, .footer-nav-container
      display: inline-block
      vertical-align: middle
  .flexslider
    width: $cols7
    background: none
    box-shadow: none
    border: none
    margin: 0
    position: relative
    overflow-y: hidden
    border-radius: 0
    .frame
      position: absolute
      z-index: 3
      padding: 20px 0
      width: 100%
      height: 100%
      top: -10px
      box-shadow: inset 0 0 10px rgba(0,0,0,.75)
    .flex-viewport
      overflow-y: visible
      padding: 10px 0
      &:before
        background: radial-gradient(ellipse at left center, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 80%)
        width: 25px
        content: ""
        position: absolute
        left: -15px
        top: 0
        padding: 2px
        height: 100%
        z-index: 3
      &:after
        background: radial-gradient(ellipse at right center, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 85%)
        width: 25px
        content: ""
        position: absolute
        right: -15px
        top: 0
        padding: 2px
        height: 100%
    .slides
      li
        background: $yellow
        box-shadow: 1px 2px 4px $blktnt
        color: $drk_green
        position: relative
        z-index: 0
        padding: 10px 0
        border:
          top: 1px solid $white
          bottom: 1px solid $white
        &>
          margin: 0 10px
        h4
          margin: 0 10px
          text-shadow: 0 -1px 3px $white
          white-space: nowrap
          text-overflow: ellipsis
          width: 65%
        .button
          padding: 0 20px
        span
          position: absolute
          right: 10px
          top: 27%
          z-index: 3
  .footer-nav-container
    position: relative
    width: $cols2 - 2em
    padding: 0 $gutter
    .flex-direction-nav
      position: relative
      text-align: center
      li
        display: inline-block
        vertical-align: middle
        white-space: nowrap
        font-size: 0
      a
        width: 50px
        position: relative
        margin: 0
        opacity: .65
        height: 65px
        background: url(images/arrows.png)
        &:hover
          opacity: 1
      .flex-next
        right: 0
        background-position: 50px top
      .flex-prev
        left: 0
.social
  display: inline-block
  li
    display: inline-block
    vertical-align: top
    width: $cols1/1.5
    img
      width: 100%
      height: auto
.credits
  text-align: right
  margin: $gutter*3 0 -20px

//Break Points